.outer {
  height: 100%;
  padding: 2rem;
  font-family: "Work Sans", sans-serif;
}

.inner {
  border: 1px solid #aaa;
  padding: 2rem;
  font-size: 1rem;
  max-width: 900px;
  margin: auto;
  margin-bottom: 4rem;
}

.inner p {
  margin-bottom: 1rem;
}

.header {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
