.wrapper {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outer {
  height: 100%;
  padding: 2rem;
  flex: 1;
}

.inner {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 2rem;
  font-size: 1rem;
  max-width: 900px;
  margin: auto;
  margin-bottom: 4rem;
}

.inner h2 {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 1rem;
}

.inner p {
  margin-bottom: 1rem;
}

.inner dd {
  margin-bottom: 1rem;
}

.header {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.footer {
  text-align: right;
  padding: 8px;
  font-size: 0.8rem;
}
