.outer {
  height: 100%;
  padding: max(10vw, 4rem);
  font-family: "Work Sans", sans-serif;
}

.inner {
  border: 1px solid #aaa;
  height: 100%;
  padding: max(min(10vw, 4rem), 2rem);
  font-size: 1.2rem;
}

.reading {
  max-width: 900px;
  margin: auto;
}

.inner p {
  margin-bottom: 1rem;
}

.header {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
