.navRow {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;

  border-top: 1px solid #aaa;
  background: white;

  display: flex;
  justify-content: center;
}

.navRow a {
  padding: 10px;
}
